<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full-Stack Web Developer Portfolio</title>
    <link rel="stylesheet" href="\static\style.css">
    <link rel="stylesheet" href="index.js">
</head>

<body>                                                                  
    <div class="cantainer">
        <!-- <img src="/logos/panorama-milky-way-galaxy-with-stars-and-space-dust-royalty-free-image-1623176828.jpg"
            alt="galaxy"> -->
        <div class="header">
            <header>
                <!-- <h1>
                    <p>
                        <!importat>
                    </p> My Portfolio
                </h1> -->
                <div class="links">
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">work</a></li>
                    <li><a href="#skills">skills</a></li>
                    <li><a href="#contact">contact</a></li>
                </div>

            </header>
        </div>
    </div>
    <div class="main">
        <div class="abt" id="about">
            <main>
                <h2>Hi, I'am</h2>
                <h1 id="name"> prashant Wadhave </h1>
                <p> a full-stack web developer with 5 years of experience building responsive and user-friendly
                    web
                    applications. I have a passion for clean, efficient code and a strong focus on usability. When I'm
                    not
                    coding, you can find me exploring the outdoors or learning about new technologies.</p>
                <div class="btn">
                    <button id="dwnld"> DOWNLOAD RESUME </button>
                    <button id="ctntc"> CONTACT ME</button>
                </div>
            </main>
            <div class="model">
                <img src="static/model2.png" alt="prashant">
            </div>
        </div>
        <div class="work" id="work">
            <section>
                <!-- <div class="work_img">
            <img src="/logos/undraw_firmware_re_fgdy.svg" alt="logo">
                </div> -->
            </section>
            <section>
                <h2>WORK</h2>
                <ul>
                    <li>
                        <h2>project</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam modi, deserunt expedita
                            fugiat temporibus itaque voluptatum delectus nemo nobis aliquid voluptas officia sit
                            vel, quam dolore, repudiandae saepe. Sit, dolores!</p>
                    </li>
                    <li>
                        <h2>project</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam modi, deserunt expedita
                            fugiat temporibus itaque voluptatum delectus nemo nobis aliquid voluptas officia sit
                            vel, quam dolore, repudiandae saepe. Sit, dolores!</p>
                    </li>
                    <li>
                        <h2>project</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam modi, deserunt expedita
                            fugiat temporibus itaque voluptatum delectus nemo nobis aliquid voluptas officia sit
                            vel, quam dolore, repudiandae saepe. Sit, dolores!</p>
                    </li>
                </ul>
            </section>
        </div>
        <div class="skills" id="skills">
            <section>
                <h3>SKILLS</h3>
                <ul>
                    <li id="html">HTML</li>
                    <li id="css">CSS</li>
                    <li id="javas">Javascript</li>
                    <li id="py">Python</li>
                    <li id="php">PHP</li>
                    <li id="dj">django</li>
                </ul>
            </section>
        </div>
        <div class="contact" id="contact">
            <section class="grp-of-links">
                <div class="gr-1">
                    <h3>Contact</h3>
                    <p>social Links</p>
                    <ul>
                        <li><a href="https://www.instagram.com/prashant_wadhave_11/">instagram</a> </li>
                        <li><a href="https://www.facebook.com/profile.php?id=100018016755968">facebook</a> </li>
                        <li><a href="#">telegram</a> </li>
                    </ul>
                </div>
                <div class="gr-2">
                    <p>job Profiles</p>
                    <ul>
                        <li> <a href="https://www.linkedin.com/in/prashant-wadhave-48137625a/">LINKDIN</a></li>
                        <li><a href="https://www.naukri.com/mnjuser/profile?id=&orgn=homepage">NAUKRY</a></li>
                        <!-- <li><a href="#">indeed</a></li> -->
                    </ul>
                </div>
                <div class="gr-3">
                    <p>cantact no.</p>
                    <ul>
                        <li>7410083801</li>

                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>copyright @2022</p>
            <a href="mailto:prashantwadhave5@gmail.com">prashantwadhave5@gmail.com</a>
        </footer>
    </div>
    <script>
        onclick = document.getElementById('ctnct').innerHTML = ('contact');
    </script>
</body>

</html>